.listPosition select {
	width: 250px;
	height: 35px;
	margin: 9px 0px 0px 142px;
}

.listPosition .position_trash_square_circle {
	padding: 0px 14px;
	position: absolute;
	left: 600px;
	margin: 7px 4px -23px 3px;
}

.form__edit input {
	width: 75%;
}

.listPosition a .fa-pen-square {
	margin: 10px;
}

.listPosition {
	margin-top: 44px;
}

.trash__default {
	color: red;
}

.trash__default:hover {
	color: red;
}

.back__default {
	color: rgb(63, 81, 181);
}

.back__default:hover {
	color: rgb(63, 81, 181);
}

.edit__default {
	color: #3f51b5;
}