<div class="employee-detail">
	<a href="#!" class="btn-back"> <i class="fas fa-arrow-left mr-2"></i>
		Back
	</a>
	<button ng-click="editUser(eachUser)" class="btn-edit">
		<i class="fas fa-save"></i>
	</button>

	<div class="row">
		<div class="col-sm-4 d-flex justify-content-center detail__infor">
			<div class="employee-detail__img text-center">
				<div class="employee-detail__img">
					<label for="image"> <input type="file" custom-file-input
						accept="image/x-png,image/gif,image/jpeg" name="image"
						ng-model="eachUser.image" id="image" style="display: none;" /> <img
						src="template/static/images/employee/{{eachUser.image}}">
					</label>
				</div>
				<h4 class="employee-detail__name pt-3 font-weight-bolder">{{eachUser.name}}</h4>
				<div class="d-flex align-items-center justify-content-center">
					<h5 class="employee-detail__nameRole m-0 text-danger">{{eachUser.nameRole}}</h5>
					<div class="ml-3" ng-bind-html="icon"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<tabset> <tab heading="Detail">
			<div ng-include="'file/employee/tab/TabDetail.html'"></div>
			</tab> <tab heading="Profile">
			<div ng-include="'file/employee/tab/TabProfile.html'"></div>
			</tab> <tab heading="Technical">
			<div ng-include="'file/employee/tab/TabTechnical.html'"></div>
			</tab> <tab heading="Advantage">
			<div ng-include="'file/employee/tab/TabAdvantage.html'"></div>
			</tab> </tabset>
		</div>
	</div>
</div>