*:focus {
	outline: none;
}

button:focus {
	outline: none;
}

.table__default thead .table__default__detail td, .table__default tbody .table__default__detail td
	{
	padding: 0;
}

.table__default thead .table__default__click {
	width: 5em;
}

.table__default thead .table__default__advantage {
	width: 1em;
}

.table__default thead .table__default__click md-checkbox .md-ink-ripple,
	.table__default thead .table__default__advantage md-checkbox .md-ink-ripple
	{
	margin-left: 8px;
	margin-top: 24px;
}

.employee__detail__tab {
	min-height: 45em;
}

@media ( min-width :575px) {
	.detail__infor {
		height: 40em;
		padding: 5em 1em;
	}
}

@media ( max-width : 575px) {
	.detail__infor {
		padding: 2em 1em;
	}
}

.detail__infor .employee-detail__img img {
	width: 50%;
	border: 1px solid dimgrey;
	border-radius: 5px;
}

.tab-content {
	padding: 10px;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.tr_td_frirst td {
	outline: none;
	font-size: 15px;
	vertical-align: inherit;
	border: none;
}

.tr_td_frirst td:hover {
	background: #c6d1ef26;
}

button.btn-edit {
	color: #6495dd;
	font-size: 25px;
	padding: 0;
	border: none;
	background: none;
	position: absolute;
	right: 3%;
	z-index: 999;
}

.btn-back {
	align-items: center;
	cursor: pointer;
	color: #4e73df;
	font-size: 13px;
	padding: 0;
	border: none;
	background: none;
	text-decoration: none;
}

.btn-back:hover {
	text-decoration: none;
}

.employee-detail__tab--detail {
	width: 100%;
}

.employee-detail__tab--detail>tbody>tr>td {
	padding: 5px;
}

.employee-detail__tab--detail>tbody>tr {
	text-align: -webkit-left;
}

.employee-detail__tab--detail tbody tr td>input {
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
}

.employee-detail__tab--detail tbody tr td>input[type="checkbox"] {
	width: 10%;
}

.employee-detail__tab--detail>tbody>tr>td>select {
	border-width: 2px;
	width: 50%;
	color: #005BA6;
	box-shadow: none;
	font-size: 14px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.employee-detail__tab--technical form>input,
	.employee-detail__tab--advantage form>input {
	border: 1px solid;
	font-size: 15px;
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 100;
	letter-spacing: 0.01em;
	margin: 1%;
	border: 1px solid #ccc;
	margin: 1%;
}

.input__default__details {
	width: 100%;
	margin: 10px 0px;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid;
}

.input__default__details:focus {
	outline: none;
}

.icon_male>i {
	font-size: 20px;
	color: blue;
}

.icon_female>i {
	font-size: 20px;
	color: #ff80ff;
}

.detailemployee__icon--trash>i {
	font-size: 25px;
	float: right;
	color: red;
	margin-right: 20px;
	margin-bottom: 10px;
}