.plus__default {
	color: #21ab18;
}

.trash__default {
	color: red;
}

.trash__default:hover {
	color: red;
}

.back__default {
	color: rgb(63, 81, 181);
}

.back__default:hover {
	color: rgb(63, 81, 181);
}