body {
	background-image: url('../images/background/bg.jpg');
	background-size: cover;
	background-position: center center;
}

.container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #00000075;
	font-family: 'poppins', sans-serif;
}

.form {
	padding: 3em;
	background: white;
	border-radius: 40px;
}

.form h4 {
	font-size: 28px;
	font-weight: 900;
	color: #4e73df;
	text-shadow: 1px 1px 0px #5a5a5a;
}

.form label {
	display: block;
	margin-bottom: 10px;
	padding-top: 10px;
	font-size: 13px;
	font-weight: 600;
	color: #3a3b45 !important;
}

.form input {
	padding: 10px;
	font-size: 15px;
	border: 1px solid #5a5a5aab;
	border-radius: 15px;
}

.form input:focus {
	outline: none;
}

.form__hide {
	position: relative;
}

.form__create {
	padding: 15px 0 0 0;
}

.form__create a {
	color: #3a3b45;
	font-size: 13px;
	text-decoration: none;
}

.form__icon {
	position: absolute;
	right: 5%;
	top: 30%;
	cursor: pointer;
}

.form__icon:focus {
	outline: none;
}

.form input[type="button"] {
	margin: 1em 0 1em 0;
	border: none;
	background: #4e73df;
	color: white;
	border-radius: 15px;
	font-weight: 600;
}

.text-center {
	text-align: center;
}

.form__forgot {
	padding: 2em 0 0 0;
	border-top: 1px solid #90909057 !important;
}

.form__forgot a {
	color: #3a3b45;
	font-size: 13px;
	text-decoration: none;
}

.form__back {
	padding: 2em 0 0 0;
	display: inline-block;
	align-items: center;
	cursor: pointer;
	color: #4e73df;
	font-size: 13px;
	font-weight: 600;
}

.form__back:focus {
	outline: none;
}

.form__back i {
	margin-right: 5px;
}

.error {
	padding: 0 0 10px 0;
	text-align: center;
	font-size: 13px;
	color: red;
}

@media ( min-width : 960px) {
	.form {
		min-width: 25%;
	}
	.form input {
		width: -webkit-fill-available;
	}
}

@media ( max-width : 960px) {
	.form {
		min-width: 70%;
	}
	.form input {
		width: -webkit-fill-available;
	}
}