<h4>Create Password</h4>
<form action="" method="" name="form">
	<label>Enter your email</label>
	<input type="email" name="email" ng-model="email" required>
	<div ng-show="form.email.$dirty && form.email.$invalid" class="error__form">
		<span ng-show="form.email.$error.required">Email must not be empty</span>
		<span ng-show="form.email.$error.email">Malformed email</span>
	</div>
	<label>Old password</label>
	<div class="form__hide">
		<input type="password" name="password" ng-model="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,}$/" required>
		<div ng-show="form.password.$dirty && form.password.$invalid" class="error__form">
			<span ng-show="form.password.$error.required">Old password must not be empty</span>
			<span ng-show="form.password.$error.pattern">Password is not in correct format!</span>
		</div>
	</div>
	<label>New password</label>
	<div class="form__hide">
		<input type="password" name="newpassword" ng-model="newpassword" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,}$/" required>
		<div ng-show="form.newpassword.$dirty && form.newpassword.$invalid" class="error__form">
			<span ng-show="form.newpassword.$error.required">New password must not be empty</span>
			<span ng-show="form.newpassword.$error.pattern">Password is not in correct format!</span>
		</div>
	</div>
	<label>Renew password</label>
	<div class="form__hide">
		<input type="password" name="repassword" ng-model="repassword" required>
	</div>
	<input type="button" value="Create password" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" ng-click="onSubmitCreate(email,password,newpassword,repassword)">
	<div class="error" ng-style="success" ng-hide="error">{{alert}}</div>
</form>
<div class="form__back" ng-click="loadIndex(0)">
	<i class="fas fa-arrow-left"></i>Back
</div>