	<h4>Login in</h4>
<form action="" method="">
	<label>Email</label> <input type="email" name="email" ng-model="email"
		required> <label>Password</label>
	<div class="form__hide">
		<input type="{{inputType}}" name="password" ng-model="password"
			required>
		<div class="form__icon" ng-click="hideShow()" ng-bind-html="icon"></div>
	</div>
	<input type="button" value="Login" ng-click="onSubmit(email,password)">
	<div class="error" ng-hide="error">{{alert}}</div>
</form>
<div class="form__forgot text-center">
	<a href="#" ng-click="loadIndex(1)">Forgot password ?</a>
</div>
<div class="form__create text-center">
	<a href="#" ng-click="loadIndex(2)">Create new password</a>
</div>