<div class="employee-detail__tab--advantage">
	<div class="row pb-4">
		<form class="col-sm-7">
			<input type="text" placeholder="Add new advantage"
				ng-model="advantageForm.name" />
		</form>
		<div class="col-sm-5">
			<md-button ng-click="submitAdvantage()"
				class="bg-success text-white fas fa-plus"></md-button>
			<md-button ng-click="deleteListAdvantage(selectCheckAdvantage)"
				class="
				bg-danger text-white far fa-trash-alt"></md-button>
		</div>
	</div>
</div>
<!-- <span class="detailemployee__icon--trash"> <i
	class="fas fa-trash-alt"
	ng-click="deleteListAdvantage(selectCheckAdvantage)"></i>
</span> -->
<div>
	<div class="wrap__table">
		<table class="table__default">
			<thead>
				<tr class="table__default__detail">
					<td class="table__default__advantage"><md-checkbox
							ng-checked="isCheckedAdvantage()"
							md-indeterminate="isIndeterminateAdvantage()"
							ng-click="toggleAllAdvantage()"> <span
							ng-if="isCheckedAdvantage()"></span></md-checkbox></td>
					<td class="table__default__advantage">
						<p href="#"
							ng-click="sortType = 'name'; sortReverse = !sortReverse">
							Advantage <span ng-show="sortType == 'name' && !sortReverse"
								class="fa fa-caret-down"></span> <span
								ng-show="sortType == 'name' && sortReverse"
								class="fa fa-caret-up"></span>
						</p>
					</td>
					<td class="table__default__click">
						<p>Edit</p>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr class="table__default__detail"
					dir-paginate="x in advantages | orderBy:sortType:sortReverse |itemsPerPage:4">
					<td><md-checkbox ng-click="toggle(x, selectCheckAdvantage)"
							ng-checked="exists(x, selectCheckAdvantage)"> </md-checkbox></td>
					<td>{{ x.name }}</td>
					<td><md-button class="fas fa-edit" ng-click="showAdvanced(x)">
						</md-button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<dir-pagination-controls max-size="9" direction-links="true"
		boundary-links="true"> </dir-pagination-controls>
</div>
<script type="text/ng-template" id="dialogEditAdvantage.tmpl.html">
	<md-dialog>
		<form ng-cloak>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Edit advantage</h2>
					<span flex></span>
				</div>
			</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
				<input class="input__default__details" type="text" ng-model="dataValue.name" />
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="answerAdvantage(editAdvantage(dataValue))">
			Save
			</md-button>
			<md-button ng-click="cancelAdvantage()">
			Cancel
			</md-button>
		</md-dialog-actions>
		</form>
	</md-dialog>
	</script>