<div class="teamupdate__body">
	<a href="#!team" class="btn-back"> <i
		class="fas fa-arrow-left mr-2"></i> Back
	</a>
	<div class="row py-4">
		<div class="col-sm-3 text-center">
			<h4 class="font-weight-bolder text-nowrap text-uppercase">Edit
				team</h4>
		</div>
	</div>
	<div class="teamupdate__form">
		<div class="teamupdate__form-canh">
			<form class="" id="">
				<div class="teamupdate__form-main">
					<div class="form-group teamupdate__form-firstname">
						<label>Firstname</label> <input type="text" ng-model="nameTeam"
							ng-value="loadupdateteam.nameTeam" />
					</div>
					<div class="form-group teamupdate__form-listmanager">
						<select ng-model="managername">
							<option>---Please chose---</option>
							<option ng-repeat="option in loadupdateteam.listmanager"
								value="{{option.name}}">{{option.name}}</option>
						</select>
					</div>
					<div class="form-group teamupdate__form-listusers">
						<div ng-repeat="option in loadupdateteam.listallUser">
							<div
								class="teamupdate__form-listusers-checked form-check-inline py-2">
								<label class="form-check-label" for="check2"> <input
									type="checkbox" ng-checked="{{option.checked}}"
									ng-model="option.Selected" class="form-check-input">
									{{option.name}}
								</label><br>
							</div>
						</div>
					</div>
					</md-select>
				</div>
				<div>
					<button type="button" value="Get" class="btn btn-primary"
						ng-click="GetValue()">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>


